.tx {
  float: left;
  width: 25%;
  padding: 0;
  margin: 0;
}
.editbtn {
  border: none;
  background-color: #fcfa;
  float: right;
}
pre {
  margin: 0;
  padding-top: 0;
}
table thead {
  background-color: rgba(255, 202, 210, 0.932);
}
table tbody tr {
  background-color: #fef;
}
table tbody tr:nth-child(2n) {
  background-color: #f9ca;
}
table tbody tr:hover {
  background-color: darkred;
  color: white;
}
table tbody tr:hover a {
  color: navajowhite;
}
textarea {
  width: 90%;
  margin: 0 auto;
  display: block;
}
table {
  float: left;
  border-collapse: collapse;
  border: 1px solid black;
  width: 70%;
}
table thead tr th:nth-child(2),
table thead tr th:last-child {
  width: 5%;
}
table td {
  border: 1px solid black;
}
br {
  clear: both;
}
